.answer{
    font-size: 2rem;
}
.contain{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    margin-top: 10vw;
}
.in-container{
    display: flex;
    flex-direction: column;
    /* width: 70%; */
    justify-content: center;
}

.cal-buttons{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
.btn-grp{
    display: flex;
    justify-content: space-around;
}

.trig-btn{
    align-items: center;
}
.btn{
    width: 100px;
    margin-right: 5px;
}
#sec-2{
    display: none;
}
.cal-v-buttons{
    margin: 2px;
}
.cal-v-buttons .btn{width: 50px ;}